:root {
    --color-1: #000;
    --color-2: #fff;
    --background-color: linear-gradient(#FF69B4, #FFB6C1);
    --background-color-2: linear-gradient(#FFB6C1, #FF69B4);
    --font-family: 'Dancing Script', cursive;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 24px;
    background: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-1);
    text-align: center;
}

h1 {
    font-family: var(--font-family);
    font-size: 48px;
    margin-top: 20px;
    color: var(--color-2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: var(--font-family);
    font-size: 36px;
    margin-top: 10px;
}

summary {
    font-family: var(--font-family);
    font-size: 36px;
}

details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    /* Đặt chiều rộng cho details */
    max-width: 600px;
    /* Giới hạn chiều rộng tối đa */
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

details:hover {
    scale: 1.02;
    background: var(--background-color-2);
}

div details img {
    width: 100%;
    /* Đặt chiều rộng hình ảnh 100% */
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}